footer.footer.bvi-no-styles
	.footer-wrapper.container.bvi-no-styles
		.footer-row.bvi-no-styles
			.footer-col-left.bvi-no-styles
				p.bvi-no-styles
					|Авторские права © [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
					| &nbsp;
					a.bvi-no-styles(href="[(site_url)]")
						|[(site_name)]
			.footer-col-center.bvi-no-styles
				p.bvi-no-styles
					a.bvi-no-styles.icon-rss(href="[(site_url)]rss.xml" target="_blank")
			.footer-col-right.developed.bvi-no-styles
				p.developed-by.bvi-no-styles
					|Developed by:
					| &nbsp;
					a.developed-by.bvi-no-styles(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank")
						|ProjectSoft © 2000 - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
.fancybox__wrapper
	// FancyBox plugins