// Правая и левая колонки (Виджеты)
.secondary.secondary-right(role="complementary")
	.container
		.widgets.row
			.widget
				|Widgets Right
.secondary.secondary-left(role="complementary")
	.container
		.widgets.row
			.widget
				|Widgets Left