bower_components
node_modules
test
tests
tmp
# sublime
*.sublime-workspace
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
# Evolution CMS
site
!site/.htaccess
!site/composer.json
!site/assets/templates/projectsot/**/*.*