<!DOCTYPE html>
<html dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#">{{@FILE assets/templates/projectsoft/tpl/head.html}}
	<body>
		<div class="pagewrapper">
			<div class="body bvi-no-styles">
				<header class="container main-header" role="banner">
					<!-- Название-->
					<div class="header-group" role="generic">
						<p class="site-title">[(site_name)]</p>
						<p class="site-description">[(site_description)]</p>
						<!-- Поиск-->
						<div id="search" role="search">
							<form id="search-form" action="/search/" method="GET" role="form">
								<input class="bvi-no-styles" type="text" name="text" value="[!$_GET['text']!]" placeholder="Поиск" required="required" role="textbox">
							</form>
						</div>
					</div>
					<div class="eya-panel"><a href="javascript:;" title="Версия для слабовидящих"><i class="icon-eye-new"></i>Версия для слабовидящих</a></div>
					<!-- Карусель-->[[multiTV? &fromJson=`[(site_photogallery)]` &tvName=`site_photogallery`]]
					<!-- Меню 2-->{{@FILE assets/templates/projectsoft/tpl/menu.html}}
					<!-- Госуслуги только на главной--><@IF:[*id:is(1)*]>
					{{@FILE assets/templates/projectsoft/tpl/gosuslugi.html}}
					<@ENDIF>
				</header>
				<main class="main">
					<div class="primary" role="main">
						<div class="container">
							<div class="row" id="content">
								<article class="container page page-[*id*] type-page clearfix" id="page-[*id*]" role="article">
									<header class="entry-header" role="generic">
										<h1 class="entry-title">[*longtitle:ifempty=`[*pagetitle*]`*]</h1>
									</header>
									<div class="entry-content">
										[*content*]
										[[PageBuilder]]
									</div>
								</article>
							</div>
						</div>
					</div>{{@FILE assets/templates/projectsoft/tpl/secondary.html}}
				</main>
			</div>{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		</div>{{@FILE assets/templates/projectsoft/tpl/scripts.html}}
	</body>
</html>