<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">{{@FILE assets/templates/projectsoft/tpl/head.html}}
	<body>
		<div class="eya-panel"><a href="javascript:;" title="Версия для слабовидящих"><i class="icon-eye-new"></i>Версия для слабовидящих</a></div>
		<div class="body bvi-no-styles">
			<header class="container main-header" role="banner">
				<!-- Название-->
				<div class="header-group">
					<p class="site-title">ГБОУ ООШ с. Покровка м. р. Кинельский Самарской области</p>
					<p class="site-description">Мы рады видеть Вас на официальном сайте государственного бюджетного общеобразовательного учреждения основной общеобразовательной школы с. Покровка муниципального района Кинельский Самарской области</p>
					<!-- Поиск-->
					<div id="search">
						<form id="search-form" action="/search/" method="GET">
							<input class="bvi-no-styles" type="text" name="text" value="" placeholder="Поиск" required="">
						</form>
					</div>
				</div>
				<!-- Карусель-->
				<!-- Меню 2-->{{@FILE assets/templates/projectsoft/tpl/header.html}}
				<@IF:[*id:is(1)*]>
				{{@FILE assets/templates/projectsoft/tpl/gosuslugi.html}}
				<@ENDIF>
			</header>
			<main class="main">
				<div class="primary container">
					<div class="row" id="content" role="main">
						<article class="container page page-[*id*] type-page clearfix" id="page-[*id*]">
							<header class="entry-header">
								<h1 class="entry-title">[*longtitle:ifempty=`[*pagetitle*]`*]</h1>
							</header>
							<div class="entry-content">
								[*content*]
								[[PageBuilder]]
							</div>
						</article>
					</div>
				</div>
				<div class="secondary container" role="complementary"></div>
			</main>
		</div>
		<footer class="footer">footer</footer>
	</body>
</html>