|<@IF:[*id:neq(1)*]>[!DLCrumbs
|	&showCurrent=`1`
|	&ownerTPL=`@CODE:<nav class="bvi-no-styles"><ul class="breadcrumb bvi-no-styles" aria-label="Breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">[+crumbs.wrap+]</ul></nav>`
|	&tpl=`@CODE:<li class="bvi-no-styles" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="[+iteration+]"><a class="bvi-no-styles" href="[+url+]" title="[+e.title+]" itemprop="item"><span class="bvi-no-styles" itemprop="name">[+title+]</span></a></li>`
|	&tplFirst=`@CODE:<li class="home-link bvi-no-styles" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="[+iteration+]"><a href="[+url+]" title="[+longtitle+]" itemprop="item" class="bvi-no-styles">[+title+]</a></li>`
|	&tplCurrent=`@CODE:<li class="active bvi-no-styles" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="[+iteration+]"><span class="bvi-no-styles" itemprop="item">[+title+]</span></li>`
|!]<@ENDIF>