|<@IF:[*id:neq(1)*]>[!DLCrumbs
|	&showCurrent=`1`
|	&ownerTPL=`@CODE:<nav class=""><ul class="breadcrumb " aria-label="Breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">[+crumbs.wrap+]</ul></nav>`
|	&tpl=`@CODE:<li class="" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="[+iteration+]"><a class="" href="[+url+]" title="[+e.title+]" itemprop="item"><span class="" itemprop="name">[+title+]</span></a></li>`
|	&tplFirst=`@CODE:<li class="home-link " itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="[+iteration+]"><a href="[+url+]" title="[+longtitle+]" itemprop="item" class="bvi-no-styles">[+title+]</a></li>`
|	&tplCurrent=`@CODE:<li class="active " itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="[+iteration+]"><span class="" itemprop="item">[+title+]</span></li>`
|!]<@ENDIF>