// Правая и левая колонки (Виджеты)
// Правая колонка
.secondary.secondary-right(role="complementary")
	.container
		.widgets.row
			.widget.eya-panel.bvi-no-styles
				a.bvi-no-styles.button-eye(href="javascript:;")
					i.bvi-no-styles.icon-eye-new
					|Версия для слабовидящих
			.widget.bvi-no-styles.widget_director
				.widget_director-header
					h4.widget_director-title
						strong
							|Директор:
					p.widget_director-header-img
						img.bvi-img(src="https://bobrovka-shkola.minobr63.ru/assets/cache/images/assets/templates/projectsoft/images/photo_0001-270x270-f2d.jpg" alt="Гойколова Марина Валерьевна")
				.widget_director-content
					dl
						dt
							p
								strong
									|Адрес:
						dd
							p
								i.icon-home
								|446406, Россия, Самарская область, Кинельский район, с. Бобровка, улица Кирова, д. 28-Б.
						dt
							p
								strong
									|Телефон:
						dd
							p
								i.icon-phone
								|8(84663) 3-25-18
						dt
							p
								strong
									|Электронный адрес:
						dd
							p
								i.icon-email
								a(href="mailto:so_knl_bobr_sch@samara.edu.ru" target="_blank")
									|so_knl_bobr_sch@samara.edu.ru
						dt
							p
								strong
									|Сайт:
						dd
							p
								i.icon-home
								a(href="https://bobrovka-shkola.minobr63.ru/" target="_blank")
									|https://bobrovka-shkola.minobr63.ru/
							p
								i.icon-vk
								a(href="https://vk.com/club196971711" target="_blank")
									|Группа в ВКонтакте
// /Правая колонка
// Левая колонка
.secondary.secondary-left(role="complementary")
	.container
		.widgets.row
			.widget
				|Widgets Left
// /Левая колонка