html,
body {
	min-height: 100vh;
}

.body {
	width: 100%;
	max-width: var(--body-width);
	margin-left: auto;
	margin-right: auto;
}

body {
	//background-color: var(--background-color);
	color: var(--color);
	font-family: var(--ptsans);
	position: relative;
	//font-size: 1.06em;
	.pagewrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background-color: #efefef;
		.body {
			flex-grow: 1;
			//background-color: #ffffff;
			//box-shadow: 0 0 5px #cccccc;
		}
		.footer {
			flex-shrink: 0;
		}
	}
}

.container,
.container-full {
	padding-left: var(--padding-column);
	padding-right: var(--padding-column);
	.clearfix();
}

.row {
	margin-left: var(--margin-column);
	margin-right: var(--margin-column);
	.clearfix();
}