.header{
	&-group {
		padding-top: 40px;
		padding-bottom: 10px;
		.site {
			&-title,
			&-description {
			}
			&-title {
					margin: 0;
					font-weight: 700;
					line-height: 1.4;
					text-shadow: 2px 2px #e6e6e6;
					font-size: 3.31em;
					font-family: var(--ptsans);
			}
			&-description {
				font-size: 1.2em;
				margin-bottom: 10px;
			}
		}
	}
}
