.header{
	&-group {
		padding-top: 40px;
		padding-bottom: 40px;
		.site {
			&-title,
			&-description {
				margin: 0;
			}
			&-title {
					font-weight: 700;
					line-height: 1.4;
					text-shadow: 2px 2px #e6e6e6;
					font-size: 3.125em;
					font-family: sans-serif, Arial;
			}
			&-description {
				font-size: .8125em;
			}
		}
	}
}
