.primary,
.secondary{
	position: relative;
}
.primary {
	width: ~'calc(100% - 640px)';
	overflow: hidden;
	order: 2;
	z-index: 5;
	padding-top: var(--padding-column);
}
.secondary {
	width: 320px;
	z-index: 10;
	&-right {
		order: 3;
	}
	&-left {
		order: 1;
	}
}
@media (max-width: 1280px) {
	.secondary {
		&-left {
			width: ~'calc(100% - 320px)';
			order: 3;
		}
		&-right {
			order: 2;
		}
	}
	.primary {
		width: ~'calc(100% - 320px)';
		order: 1;
	}
}
@media (max-width: 990px) {
	.secondary {
		&-left {
			width: 48%;
			order: 2;
		}
		&-right {
			width: 48%;
			order: 3;
		}
	}
	.primary {
		width: ~'calc(100% + 30px)';
		margin-left: var(--margin-column);
		margin-right: var(--margin-column);
		order: 1;
		#content {
			padding-left: unset;
			padding-right: unset;
		}
	}
}
@media (max-width: 710px) {
	.secondary {
		&-left {
			width: 100%;
			order: 2;
			.widgets {
				padding-bottom: unset;
				.widget {
					&:last-child {
						margin-bottom: unset;
					}
				}
			}
		}
		&-right {
			width: 100%;
			order: 3;
			.widgets {
				padding-top: var(--padding-column);
			}
		}
	}
}