#slick {
	.slick {
		/*&-slide {
			max-width: 100%;
			width: 100% !important;
		}*/
		&-item {
			display: block !important;
		}
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0;
	}
}
.slick {
	&-home {
		/*width: 100%;*/
		overflow: hidden;
	}
}