
<footer class="footer bvi-no-styles">
	<div class="footer-wrapper container bvi-no-styles">
		<div class="footer-row bvi-no-styles">
			<div class="footer-col-left bvi-no-styles">
				<p class="bvi-no-styles">
					Авторские права © [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
					&nbsp;<a class="bvi-no-styles" href="[(site_url)]">[(site_name)]</a>
				</p>
			</div>
			<div class="footer-col-center bvi-no-styles">
				<p class="bvi-no-styles"><a class="bvi-no-styles icon-rss" href="[(site_url)]rss.xml" target="_blank"></a></p>
			</div>
			<div class="footer-col-right developed bvi-no-styles">
				<p class="developed-by bvi-no-styles">
					Developed by:
					&nbsp;<a class="developed-by bvi-no-styles" href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank">ProjectSoft © 2000 - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]</a>
				</p>
			</div>
		</div>
	</div>
</footer>
<div class="fancybox__wrapper">
	<!-- FancyBox plugins-->
</div>