
<head>
	<base href="[(site_url)]"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284"/>
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
	<meta name="yandex-verification" content="[(yandex_verification)]"/>
	<title>[*titl*]</title>[*noIndex*]
	<!-- Favicons-->
	<link rel="apple-touch-icon" sizes="57x57" href="[(site_url)]apple-icon-57x57.png"/>
	<link rel="apple-touch-icon" sizes="60x60" href="[(site_url)]apple-icon-60x60.png"/>
	<link rel="apple-touch-icon" sizes="72x72" href="[(site_url)]apple-icon-72x72.png"/>
	<link rel="apple-touch-icon" sizes="76x76" href="[(site_url)]apple-icon-76x76.png"/>
	<link rel="apple-touch-icon" sizes="114x114" href="[(site_url)]apple-icon-114x114.png"/>
	<link rel="apple-touch-icon" sizes="120x120" href="[(site_url)]apple-icon-120x120.png"/>
	<link rel="apple-touch-icon" sizes="144x144" href="[(site_url)]apple-icon-144x144.png"/>
	<link rel="apple-touch-icon" sizes="152x152" href="[(site_url)]apple-icon-152x152.png"/>
	<link rel="apple-touch-icon" sizes="180x180" href="[(site_url)]/apple-icon-180x180.png"/>
	<link rel="icon" type="image/png" sizes="192x192" href="[(site_url)]android-icon-192x192.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="[(site_url)]favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="96x96" href="[(site_url)]favicon-96x96.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="[(site_url)]favicon-16x16.png"/>
	<link rel="icon" type="image/ico" href="[(site_url)]favicon.ico"/>
	<link rel="manifest" href="[(site_url)]manifest.json"/>
	<meta name="msapplication-TileColor" content="#ffffff"/>
	<meta name="msapplication-TileImage" content="[(site_url)]ms-icon-144x144.png"/>
	<meta name="theme-color" content="#ffffff"/>
	<meta name="apple-mobile-web-app-title" content="[(site_name:notags:strip)]"/>
	<meta name="application-name" content="[(site_name:notags:strip)]"/>
	<meta name="title" content="[*pagetitle:notags:strip*]"/>
	<meta name="description" content="[*desc:notags:strip*]"/>
	<meta name="keywords" content="[*keyw:notags:strip*]"/>
	<meta name="author" content="[(site_name)]"/>
	<!-- RSS-->
	<link rel="alternate" type="application/rss+xml" title="RSS-лента [(site_name)]" href="[(site_url)]rss.xml"/><@IF:[*id:is(2)*]>
	<!-- Canonical-->
	<link rel="canonical" href="[(site_url)][~[*id*]~]"/><@ENDIF>
	<!-- Open Graph-->
	<meta name="og:url" content="[(site_url)][~[*id*]~]"/>
	<meta property="og:type" content="website"/>
	<meta name="og:title" content="[*pagetitle:notags:strip*]"/>
	<meta name="og:description" content="[*desc:notags:strip*]"/>[[ogImage]]
	<link type="text/css" rel="stylesheet" href="[(site_url)]assets/templates/projectsoft/css/main.min.css?v1.0.0"/>
</head>