
<article class="news-card container">
	<div class="news-container">
		<div class="news-container-item">
			<h4 class="title">
				<a href="[+url+]" [+link_attributes+]>
					[+title+]
				</a>
			</h4>
			<p class="date text-right"><span class="icon-calendar"></span><span>[+out_date+]</span></p>
			<div class="news-container-item-description">
				<p class="photo">
					<a href="[+url+]" [+link_attributes+]>
						<img src="[[phpthumb? &input=`[+imageSoc+]` &options=`w=751,h=422,zc=C`]]" alt="[+alt+]">
						<span class="bvi-caption-alt">[+alt+]</span>
					</a>
				</p>
				<p class="text"><span class="text-wrapper">[+introtext:nl2br+]</span><a class="btn btn-danger more bvi-no-styles" href="[+url+]" [+link_attributes+]>
						Подробнее
					</a>
				</p>
			</div>
		</div>
	</div>
</article>