doctype html
html(dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#")
	|{{@FILE assets/templates/projectsoft/tpl/head.html}}
	body
		.pagewrapper
			.body.bvi-no-styles
				include inc/header.pug
				main.main
					.primary(role="main")
						.container
							#content.row
								article.container(id!="page-[*id*]" class!="page page-[*id*] type-page clearfix" role="article")
									header.entry-header(role="generic")
										h1.entry-title
											|[*longtitle:ifempty=`[*pagetitle*]`*]
									.entry-content
										|[*content*]
										|[[PageBuilder]]
					|{{@FILE assets/templates/projectsoft/tpl/secondary.html}}
				.sitelinks.container-full
					|[[multiTV? &fromJson=`[(site_links)]` &tvName=`site_links` &display=`all`]]
			|{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		|{{@FILE assets/templates/projectsoft/tpl/scripts.html}}