doctype html
html(dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head.pug
	body
		.pagewrapper
			.body.bvi-no-styles
				include inc/header.pug
				main.main
					.primary(role="main")
						.container
							#content.clearfix
								article.container(id!="page-[*id*]" class!="page page-[*id*] type-page clearfix" role="article")
									header.entry-header(role="generic")
										h1.entry-title
											|[*longtitle:ifempty=`[*pagetitle*]`*]
									.entry-content
										|[*content*]
								|[[DocLister?
								|   &parents=`2`
								|   &display=`[(news_count_news)]`
								|   &tvList=`imageSoc, news_date`
								|   &tvPrefix=``
								|   &orderBy=`news_date DESC`
								|   &sortBy=`news_date`
								|   &sortDir=`DESC`
								|   &tvSortType=`TVDATETIME`
								|   &prepare=`\ProjectSoft\PrepareDL::prepareItem`
								|   &noneTPL=``
								|   &ownerTPL=`@FILE:projectsoft/tpl/news_owner`
								|   &tpl=`@FILE:projectsoft/tpl/news_tpl`
								|   &showParent=`0`
								|   &urlScheme=`full`
								|   &noneWrapOuter=`0`
								|]]
					include inc/secondary.pug
				include inc/sitelinks.pug
			include inc/footer.pug
		include inc/scripts.pug
